/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    /* overflow: hidden; */
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .topnav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .topnav .logo{
    margin-left: 100px;
    height: 150px;
    width: 450px;
    padding-left: 70px;
  }
  
  .topnav .twittericon{
    margin-left: 502px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #CB0000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  
  
  /* Add a color to the active/current link
  .topnav a.active {
    color: blue;
  } */

  /* .nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  } */