.footer{
    background-color: black;
    color: white;
    width: max-content;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 674px;
    padding-right: 673px;

}

.footer a{
    color: #CB0000;
}