.footer{
    background-color: black;
    color: white;
    width: 1300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer a{
    color: #CB0000;
}