.forum{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 1800px;
    height: 1500px;
}

.forum header{
    border: solid;
    border-color: white;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 40px;
    color: #cb0000;
}

.forum a{
    color: #cb0000;
}

.forum div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: black;
    /* border-radius: 10px; */
}

.forum h1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: row;
    background-color: transparent;
    font-weight: bolder;
    border: solid white;
    border-radius: 20px;
    
}


.forum p{
    color: white;
    font-size: 40px;
}

.forum p2{
    color: white;
    font-size: 25px;
}

.forum p3{
    color: white;
    font-size: 20px;
}

.forum .discussionstab{
    border: solid white;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

.forum .lastposttab{
    border: solid white;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

.forum .discussioninfotab{
    border: solid white;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}



